html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f7f1e5;
}

.weather-box {
  width: 700px;
  margin: 50px auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
}


.row {
  display: flex;
  margin: 5px auto;
}

.col {
  display: block;
  margin: 20px auto;
  text-align: center;
}




.top-one {
  font-size: 20px;
}

.form-format {
  font-size: 20px;
}

#typed-city {
  font-size: 20px;
}



.middle-one {
  font-size: 25px;
  font-weight: bold;
}

.middle-one-CiHuWi {
  margin: auto;
}

#middle-one-city {
  font-size: 40px;
  margin: 0 auto;
}

.middle-one-temp-CF {
  margin: auto;
}

.middle-one-emoji {
  margin: auto;
}

.temperature {
  margin: auto;
  font-size: 80px;
  font-weight: bold;
  list-style-type: none;
}

.higher-C {
  margin-bottom: 0 0 20px 0;
}

.middle-one-CF {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


.middle-one-date-day-hour {
  margin: auto;
  text-align: center;
}




/* .bottom-one {
} */
.bottom-one-HuWi {
  margin: auto;
  font-size: 18px;
}

/* Od Zuzanki */
.weatherApp {
  margin: 30px 30px 0px 30px;
  padding: 15px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

.container1 {
  max-width: 900px;
}

.container2 {
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.container3 {
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

.mainTemperature {
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-weight: bold;
  list-style-type: none;
}

#main-emoji {
  width: 160px;
  height: 160px;
}

.units {
  position: relative;
  margin: auto;
  font-size: 20px;
  top: -40px;
}

.active {
  text-decoration: none;
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
  cursor: default;
}

#weather-conditions {
  text-align: left;
}

#use-current-location {
  font-size: 20px;
  text-align: right;
  background-color: rgb(61, 52, 194);
  color: white;
  border: none;
  padding: 2% auto;
  transition: all 200ms ease;
}

#use-current-location:hover {
  background-color: rgb(173, 219, 240);
  color: rgb(40, 40, 133);
}

.col-2 {
  margin: auto;
}

.weatherForecastDay {
  font-size: 16px;
  text-align: center;
  opacity: 0.7;
}

.emoji {
  text-align: center;
  width: 100px;
  height: 100px;
}

.weatherForecastTemperature {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

#forecastMinTemp {
  opacity: 0.7;
}

footer {
  padding: 0 auto;
  margin: 10px 30px 10px 30px;
}


.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
.weather-forecast-date {
  font-size: 20px;
  opacity: 0.6;
}

.weather-forecast-temp {
  font-size: 20px;
}
#min-temp {
  opacity: 0.6;
}
